*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
.tituloprin{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.subtitulo{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
ul {
    margin-top: 25px;
    text-align: center;
}
li {
    background-color: black;
    list-style: none; 
    font-weight: bolder;
    display: inline;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 4px;
}
a{
   text-decoration: none;
   color: #ffffff;
}
a:hover{
    color: #FAD000;
}
.tabelatags {
    margin: 0 auto;
    border-collapse: collapse;
    width: 700px;
  }
  
.tabelatags td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.tabelamatriz{
    margin: 0 auto;   
}
.coluna{
    height: 300px;
    width: 400px;
}
table tr th p{
    text-align: center;
}
#verde{
    background-color: green;
}
#vermelho{
    background-color:red;
}
#azul{
    background-color: blue;
}
#amarelo{
    background-color: yellow;
}